@import "tailwindcss";

@layer base {
    :root {
        --color-bg: hsl(0, 0%, 100%);
        --color-text: hsl(0, 0%, 10%);
        --color-primary: hsl(220, 90%, 56%);
        --color-secondary: hsl(220, 14%, 96%);
    }

    [data-theme="dark"]{
        --color-bg: hsl(220, 15%, 10%);
        --color-text: hsl(0, 0%, 100%);
        --color-primary: hsl(210, 100%, 65%);
        --color-secondary: hsl(215, 28%, 17%);
    }

    body {
        background-color: var(--color-bg);
        color: var(--color-text);
        transition: background-color 0.3s, color 0.3s;
        margin: 0; /* Ensure no default margins */
        min-height: 100vh;
    }
}

@theme {
    --color-background: var(--color-bg);
    --color-text: var(--color-text);
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
}

@layer components {
    * {
        font-family: sans-serif;
    }
}