@import "tailwindcss";

@layer base {
    :root {
        --color-bg: hsl(0, 0%, 100%);
        --color-text: hsl(0, 0%, 10%);
        --color-primary: hsl(220, 90%, 56%);
        --color-secondary: hsl(220, 14%, 96%);
    }

    [data-theme="dark"]{
        --color-bg: hsl(220, 15%, 10%);
        --color-text: hsl(0, 0%, 100%);
        --color-primary: hsl(210, 100%, 65%);
        --color-secondary: hsl(215, 28%, 17%);
    }

    body {
        background-color: var(--color-bg);
        color: var(--color-text);
        transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        margin: 0; /* Ensure no default margins */
        min-height: 100vh;
    }
}

@theme {
    --color-background: var(--color-bg);
    --color-text: var(--color-text);
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
}

@media screen and (minimum-width: 600px){
    .varStyle {
        @apply flex flex-col justify-center items-center;
    }
}

@layer components {
    * {
        font-family: sans-serif;
    }

    nav ul {
        @apply flex flex-row gap-10 list-none p-0 m-0 justify-center mt-5 mb-5;
    }

    .cntr {
        @apply text-center;
    }

    .fieldBorder {
        @apply border rounded-xl border-primary;
    }

    .pad {
        @apply p-5
    }

    .input {
        @apply border rounded-xl border-primary p-2
    }

    .sectionWraper {
        @apply border rounded-xl border-primary p-5 w-[80%] mx-auto
    }

    .colorTextBox {
        @apply box-border border rounded border-primary p-0.5 mt-2.5 ml-1;
    }

    .colorTextArea {
        @apply box-border border rounded border-primary p-0.5 mt-2.5 ml-1 w-full;
    }

    .colorRadio {
        @apply ml-1 mr-1;
    }
}